
/* Blue background */
.bg-blue {
	background-color: #1bd3c8;
}

/* Color of the links on the nav bar when not selected */
navbar-link{
	color: #fff;
	font-family: Raleway;
	/* Color of the links on the nav bar when not selected */
}
navbar-item{
	color: #fff;
	font-family: Raleway;

}
/*Color of the links on the nav bar when someones hovers over it */
navbar-link:hover{
	color: red;
}

/*Color of the links on the nav bar when someones hovers over it */
navbar-item:hover{
	color: red;
}

/*Heading one styles*/
h1 {
	font-size: 50px;
	font-family: Raleway;
	color:#008800	;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*Heading two styles*/
h2 {
	font-size: 30px;
	color:black	;
}
/*Heading four styles*/
h4{
color: #006400	;
font-weight: 800;
font-family: Raleway;
}
/*Pargraph styles*/
p{
	color: black;
	font-family: Raleway;
}


/*link color*/
a{
	color: blue;
	font-weight: bold;
}
/*link color when user is hovering over it*/
a:hover{
	color: green;
	font-weight: bold;

}
/*link color when user clicks on a link*/
a:active{
	color: white;
	font-weight: bold;

}
/*link color when user has visited that link*/
a:visited{
	color: purple;
	font-weight: bold;

}
/*custom title on "Interns" page*/
#smaller-title {
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*Menu alignment*/
.center-menu {
	margin: auto;
}

/*Styles of items in the menu*/

.nav-item {
	font-weight: 700;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

/*Styles of links in the menu*/
.nav-item a {
	color: #fff !important;
}
/*Width of images in the gallery on homepage (index.html)*/
#myCarousel img{
	width: 50%;
}
/*Width/style of intern quotes on the "Interns" page*/
.block1{
	float:left;
	width:50%;
	padding: 10px;
	text-decoration-color: #ffffff;
	background-color: #9abe65;

}
/*style of testimonial video on the "Interns" page*/
#video{
	border: solid 10px #008000;
color:#fff;
}
/*width of testimonial caption on the "Interns" page*/
#videocaption{
padding-left: 20px;
	float:right;
	width:32%;
}
/*footer style for all pages */
footer{
	float:right;
padding-bottom: 20px;
}
/*footer style for the position of social media icons */
img{
	padding-left: 5px;
	padding-right: 5px;
}
