/* NAVBAR */
.bg-blue {
	background-color: #1bd3c8;
}

/*Menu alignment*/
.center-menu {
	margin: auto;
}

/* Color of the links on the nav bar when not selected */
navbar-link{
	color: #fff;
	font-family: Raleway;
}
navbar-item{
	color: #fff;
	font-family: Raleway;

}
/*Color of the links on the nav bar when someones hovers over it */
navbar-link:hover{
	color: red;
}
navbar-item:hover{
	color: red;
}

/*Menu alignment*/
/* Used on interns page only */
.center-menu {
	margin: auto;
}
.nav-item {
	font-weight: 700;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
.nav-item a {
	color: #fff !important;
}


/* CSS for ALL pages */
/*Heading styles*/
h1 {
	font-size: 50px;
	font-family: Raleway;
	color:#008800	;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2 {
	font-size: 30px;
	color:black	;
}
h4{
color: #006400	;
font-weight: 800;
font-family: Raleway;
}
/*Pargraph styles*/
p{
	color: black;
	font-family: Raleway;
}

/*Footer style*/
footer{
	float:right;
	padding-bottom: 20px;
}
/*footer style for the position of social media icons */
/*  This shouldn't be effecting all img's,
img{
	padding-left: 5px;
	padding-right: 5px;
}
*/

/*Link color*/
a{
	color: blue;
	font-weight: bold;
}
a:hover{
	color: green;
	font-weight: bold;

}
a:active{
	color: white;
	font-weight: bold;

}
a:visited{
	color: purple;
	font-weight: bold;

}


/* INTERNS page */
/*custom title*/
#smaller-title {
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
}
/*Width/style of intern quotes*/
#block1{
	padding: 10px;
	text-decoration-color: #ffffff;
	background-color: #9abe65;


}
/*style of testimonial video*/
#video{
	float:left;
	border: solid 10px #008000;
color:#fff;
height: 25rem;
}
/*width of testimonial caption*/
#videocaption{
padding-left: 20px;
	float:right;
}


/* INSTRUCTORS page */
/*Width/style of instructors quotes on the "Instructors" page*/
#block2{
	float:left;
	text-align: center;
}

/*Person's title*/
#smaller-caption {
	font-size: 1rem;

}


#block2img{
	display: block;
margin-left: auto;
margin-right: auto;
min-width: 33.3%;
max-width: 100%;
}

/*Width/style of Mr. Sachs' quotes on the "Instructors" page*/
#mainimg{
	float:left;
}
#mainblock{
	float:right;
	padding-top:10px;
}

/* INDEX page */
.smaller-carousel{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
#homeTitle{
	margin-top: 50px;
	margin-bottom: 50px;
}
#media{
	text-align: right;
	padding-bottom: 50px;
}

/* Font Awesome */
.fab{
	font-size: 50px;
}
.fa-facebook-square{
	color:#3B5998;
}
.fa-instagram{
	color:#C13584;
}
.fa-twitter{
	color: #1CA1F2;
}
